<div class="container">
    <div>
      <input placeholder="Nombre" class="col-md-4 form-control " type="text" [(ngModel)]="currentAlumno.nombreAlumno">
      <input placeholder="Calificación" class="col-md-4 form-control" type="number" [(ngModel)]="currentAlumno.cal"> 
      <button class="col-md-4 btn btn-primary" (click)="agregarAlumno()">Guardar Alumno</button>
    </div>
  </div>
      <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Calificación</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alumno of alumnoComp; let i = index">
              <td><span routerLink="/student/{{i}}">{{alumno.nombreAlumno}}</span> </td>
              <td>{{alumno.cal}}</td>
              <td><button class="fas fa-trash-alt far fa-eye" (click)="eliminarAlumno(i)"></button><button class="far fa-eye" (click)="seleccionarAlumno(alumno)"></button></td>
            </tr>
        </tbody>
        </table>